.form-separator {
  h4 {
    font-size: $text-small;
    padding: 7px 0;
    border-bottom: 1px solid $light-gray;
    // background-color: $lightness-gray;
    color: $blue-gray-300;
    margin-top: 20px;
    @include regular-text;

    &:first-child {
      margin-top: 0;
    }
  }
}

.form-separator {
  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.group-field-button {
  position: relative;

  textarea {
    min-height: 125px;
  }
  label {
    @include regular-text;
    font-size: $text-small;
    color: $blue-gray-400;
    margin-bottom: 5px;
    text-transform: initial;
    &::first-letter {
      text-transform: uppercase;
    }

    &.error {
      color: $red;
    }
  }

  span.error {
    color: $red;
    font-size: $text-smallest * 0.9;
    line-height: $text-smallest * 1.3;
    position: absolute;
    right: 10px;
    bottom: 8px;
    text-align: right;
    text-transform: uppercase;
    @include medium-text;
  }

  span.error-select {
    color: $red;
    font-size: $text-smallest * 0.9;
    line-height: $text-smallest * 1.3;
    position: absolute;
    right: 60px;
    bottom: 8px;
    text-align: right;
    text-transform: uppercase;
    @include medium-text;
  }
  span.error-html-editor {
    color: $red;
    font-size: $text-smallest * 0.9;
    line-height: $text-smallest * 1.3;
    position: absolute;
    right: 10px;
    top: 15em;
    text-align: right;
    text-transform: uppercase;
    @include medium-text;
  }

  .text-field {
    font-size: $small-font-size;
    background-color: $gray-100;
    box-shadow: 1px 1px 3px $gray-300;
    border: none;
    color: $blue-gray-600;
    padding: 10px 15px;
    height: auto;
    padding-right: 35px;
    width: 100%;
    @include regular-text;

    &.form {
      background-color: $white;
      border: 1px solid $blue-gray-100;
      box-shadow: 0 0 0 0 transparent;

      &.error {
        border-color: $red !important;
        box-shadow: 1px 1px 3px rgba($red, 0.4);
      }

      &.readonly {
        background-color: $gray-100;
        border-color: darken($gray-100, 3) !important;
      }
    }

    & + .confirm-button {
      position: absolute;
      top: 6px;
      right: 5px;

      background-color: transparent;
      border: none;
      color: $id-blue;
    }

    &::placeholder {
      color: $gray-500;
    }
  }

  .react-date-picker__wrapper {
    border: none;

    .react-date-picker__inputGroup {
      padding: 0;
    }
  }
}

// Buttons
.btn-vix {
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: $small-font-size;
  transition: all ease-in-out 0.3s;
  color: $darkness-gray;

  &:not(:last-child) {
    margin-right: 10px;
  }

  i {
    margin-right: 5px;
    transition: all ease-in-out 0.3s;
  }

  &.green {
    @include button-color($green-100, $green-400, $white, 5);
  }
  &.red {
    @include button-color($red-100, $red-400, $white, 5);
  }
  &.blue {
    @include button-color($blue-100, $blue-400, $white, 9);
  }
  &.orange {
    @include button-color($orange-100, $orange-400, $white, 5);
  }
  &.yellow {
    @include button-color($yellow-100, $yellow-700, $white, 5);
  }
  &.gray {
    @include button-color($blue-gray-100, $blue-gray-400, $white, 5);
  }
  &.transparent {
    &:hover,
    &.active {
      @include btn-hover($bg-light);
      border-color: darken($bg-light, 5) !important;

      color: $dark-gray;
    }
  }
  &.disabled {
    @include button-color($blue-gray-200, $blue-gray-400, $dark-gray, 5);
    cursor: not-allowed;
  }
}

.css-1wa3eu0-placeholder {
  font-size: $text-small;
}

.css-yk16xz-control {
  padding: 0.1rem;
}

.tooltip-inner {
  max-width: 400px;
}

// Checkbox
.form-row {
  input[type='checkbox'] {
    display: none;

    + label {
      font-size: $text-small;
      display: inline-block;
      margin: 0.2em 1em 0.2em 0.2em;
      padding: 0.2em;
      cursor: pointer;

      &:before {
        @include fontAwesomeSolid('\f00c');
        // content: '\2714';
        border: 2px solid $dark-gray;
        border-radius: 5px;
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        padding: 0.1rem 0.25rem;
        margin-right: 0.3rem;
        vertical-align: bottom;
        transition: 0.2s;
        font-size: 0.7rem;
        color: transparent;
      }

      &:active {
        &:before {
          transform: scale(0.5);
        }
      }
    }

    &:checked {
      + label:before {
        background-color: $comp-green;
        border-color: $comp-green;
        color: $white !important;
      }
    }

    &:disabled {
      + label {
        color: $gray;
        &:before {
          transform: scale(1);
          background-color: $gray-100;
          border-color: darken($gray-100, 3) !important;
        }
      }

      &:checked {
        + label {
          &:before {
            transform: scale(1);
            background-color: $light-gray;
            border-color: lighten($gray, 15) !important;
            color: lighten($gray, 5) !important;
          }
        }
      }
    }
  }

  // RADIO
  // Checkbox
  input[type='radio'] {
    display: none;

    + label {
      font-size: $text-small;
      display: inline-block;
      margin: 0.2em 1em 0.2em 0.2em;
      padding: 0.2em;
      cursor: pointer;

      &:before {
        @include fontAwesomeSolid('\f111');
        // content: '\2714';
        border: 2px solid $dark-gray;
        border-radius: 1.4rem;
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        padding: 0.08rem 0.2rem;
        margin-right: 0.3rem;
        vertical-align: bottom;
        transition: 0.2s;
        font-size: 0.75rem;
        color: transparent;
      }

      &:active {
        &:before {
          transform: scale(0.5);
        }
      }
    }

    &:checked {
      + label:before {
        background-color: $comp-green;
        border-color: $comp-green;
        color: $white !important;
      }
    }

    &:disabled {
      + label {
        cursor: default;
        color: $gray;
        &:before {
          transform: scale(1);
          background-color: $gray-100;
          border-color: darken($gray-100, 3) !important;
        }
      }

      &:checked {
        + label {
          &:before {
            transform: scale(1);
            background-color: $light-gray;
            border-color: lighten($gray, 15) !important;
            color: lighten($gray, 5) !important;
          }
        }
      }
    }
  }
}
.select-form,
.html-form {
  .input-error {
    border: 1px solid $red;
    border-radius: 4px;
  }
}

.react-date-picker__inputGroup__input,
.react-date-picker__inputGroup__leadingZero,
.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year {
  // font-size: $small-font-size;
  color: $blue-gray-600;
  @include regular-text;
}

/* Chrome, Safari, Edge, Opera */
.hide-arrows-input::-webkit-outer-spin-button,
.hide-arrows-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-arrows-input {
  -moz-appearance: textfield;
}

.field-error {
  > div {
    border-color: #da4453 !important;
  }
}
